asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==4.0.2
decorator==4.4.1
Django==3.0.3
etelemetry==0.1.2
filelock==3.0.12
fitz==0.0.1.dev2
httplib2==0.17.0
idna==2.8
isodate==0.6.0
lxml==4.6.3
networkx==2.4
neurdflib==5.0.1
nibabel==3.0.1
nipype==1.4.2
numpy==1.18.1
packaging==20.1
pandas==1.0.1
Pillow==7.0.0
prov==1.5.3
pydot==1.4.1
pydotplus==2.0.2
PyMuPDF==1.16.10
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyxnat==1.2.1.0.post3
rdflib==4.2.2
requests==2.22.0
scipy==1.4.1
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.0
traits==6.0.0
urllib3==1.25.8
